---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
// import Authors from '@/components/Authors.astro'
import { Button } from '@/components/ui/button'
// import ProjectCard from '@/components/ProjectCard.astro'
// import { getCollection } from 'astro:content'


// const projects = await getCollection('projects')

---

<Layout title="عضویت موفق در خبرنامه" description={SITE.DESCRIPTION} newsletter={false}>
  <Container class="flex flex-col gap-y-6">
    <Breadcrumbs items={[{ label: 'خبرنامه', icon: 'lucide:info' }]} />

    <section>
      <div class="min-w-full">
        <div class="prose prose-neutral mb-8 dark:prose-invert max-w-full">
          <h1>شما با موفقیت در خبرنامه عضو شدید</h1>
          <p>هر زمان که خبر یا پست جدیدی منتشر کردیم، یک کپی از آن را برایتان ارسال خواهیم کرد. تا آن زمان می توانید مطالب وبسایت را مرور کنید.</p>
          <Button variant={'default'} className="btn-primary not-prose">
            <Link href="/services" title="خدمات ما">خدمات ما</Link>
          </Button>
          <Button variant={'secondary'} className="btn-primary not-prose">
            <Link href="/blog" title="درباره ما">مقاله های ما</Link>
          </Button>
      </div>
    </section>
  </Container>
</Layout>
