---
import AuthorCard from '@/components/AuthorCard.astro'
import { getCollection } from 'astro:content'

const authors = await getCollection('authors');

---

{
    authors.length > 0 ? (
      <ul class="not-prose flex flex-col gap-4">
        {authors.map((author) => (
          <li>
            <AuthorCard author={author} />
          </li>
        ))}
      </ul>
    ) : (
      <p class="text-center text-muted-foreground">هیچ نویسنده ای یافت نشد.</p>
    )
  }