---
import { getCollection } from "astro:content"
import BlogCard from "./BlogCard.astro"
import { type CollectionEntry } from 'astro:content'

type BlogPost = CollectionEntry<'blog'> | CollectionEntry<'services'> | CollectionEntry<'products'>


type Props = {
  tags: string[]
  collection: "blog" | "services" | "products"
}

const collection = Astro.props.collection || "blog"

const resEntries = await getCollection(collection)


const entries = Astro.props.tags.map(tag => {
  const postsWithTag: BlogPost[] = resEntries.filter((post) => post.data.tags?.includes(tag))
  return postsWithTag[0]
})



---

<div class="my-5">
  <ul class="not-prose flex flex-col gap-4">
    {
      entries.map(post => {
        return  <li>
                <BlogCard entry={post} />
              </li>
      })
    }
  </ul>
</div>
