---
import { type CollectionEntry, getEntry } from "astro:content"
import BlogCard from "./BlogCard.astro"


type Props = {
  id: string
  collection: "blog" | "services" | "products"
}

type Entry = CollectionEntry<"blog"> | CollectionEntry<"services"> | CollectionEntry<"products"> | undefined


const postId = Astro.props.id
const postCollection = Astro.props.collection || "blog"

const entry: Entry = await getEntry(postCollection, postId);

// let currentEntry: Entry

// if(entry != undefined){
//   currentEntry = entry
// }


---

{
  entry && <div class="my-5">
    <BlogCard entry={entry} />
  </div>
}
