---
import { getEntry, getCollection } from "astro:content"
import BlogCard from "./BlogCard.astro"


type Props = {
  id: string
  collection: "blog" | "services" | "products"
}



const postId = Astro.props.id
const postCollection = Astro.props.collection || "blog"

const entry = await getEntry(postCollection, postId);


---

<div class="my-5">
  <BlogCard entry={entry} />
</div>
