---
import Container from '@/components/Container.astro'
import Link from '@/components/Link.astro'
import MobileMenu from '@/components/ui/mobile-menu'
import { ModeToggle } from '@/components/ui/mode-toggle'
import { NAV_LINKS } from '@/consts'
import SiteLogo from './SiteLogo.astro'
import { Search } from 'lucide-react'
import { Button } from '@/components/ui/button'


---

<header
  class="sticky top-0 z-10 bg-background/50 backdrop-blur-md"
  transition:persist
>
  <Container>
    <div class="flex flex-wrap items-center justify-between gap-4 py-4">
      <SiteLogo />
      <div class="flex items-center gap-2 md:gap-4">
        <nav class="hidden items-center gap-4 text-sm sm:gap-6 md:flex">
          {
            NAV_LINKS.map((item) => (
              <Link
                href={item.href}
                class="capitalize text-foreground/60 transition-colors hover:text-foreground/80 font-bold"
              >
                {item.label}
              </Link>
            ))
          }
        </nav>
        <MobileMenu client:load transition:persist />
        <ModeToggle client:load transition:persist />
        <Button
          variant="outline"
          size="icon"
          className="group"
          title="جستجو"
          id="magnifying-glass"
          aria-label="جستجو"
        >
          <Search className="size-4 rotate-0 scale-100 transition-all" />
          <span class="sr-only">جستجو</span>
        </Button>
      </div>
    </div>
  </Container>
</header>
