---
import Footer from '@/components/Footer.astro'
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import { SITE } from '@/consts'
import { Toaster } from "@/components/ui/toaster"
import "../styles/global.css"
import "../styles/index.css";
import Newsletter from '@/components/Newsletter.astro'

type Props = {
  title: string
  description: string
  image?: string
  newsletter?: boolean
}

const { title, description, image, newsletter = true } = Astro.props
---

<!doctype html>
<html lang="fa" dir="rtl">
  <head>
    <Head
      title={`${title} | ${SITE.TITLE}`}
      description={description}
      image={image}
    />
    
  </head>
  <body>
    <div
      class="box-border flex h-fit min-h-screen flex-col gap-y-6 font-sans antialiased"
    >
      <Header />
      <main class="flex-grow">
        <slot />
      </main>
      {newsletter && (<Newsletter />)}
      <Footer />
      <Toaster />
    </div>
  </body>
</html>
